.card-container {
  height: 100%;
  min-width: 270px;

  padding: 15px;
  margin: 15px;

  background-color: white;
}
.card-add-button{
  font-family:  Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  font-weight: bold;

  cursor: pointer;

  margin: 5px;
}