/* The Modal (background) */

p {
  margin: 0;
}

button,
button:active,
button:focus {
  outline: none;
  border: none;
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  color: white;
  background-color: #e74c3c;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

.modal-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #d44637;
  padding: 15px 30px;
  height: 50px;

  font-size: 20px;
}

/* The Close Button */
.close {
  color: white;
  // float: right;
  font-size: 28px;
  font-weight: bold;

  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

.modal-content-body {
  padding: 22px;
}

.modal-content-body-text {
  padding-bottom: 30px;
}

.modal-button {
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  background-color: #b3382c;
  margin: 0 5px;

  cursor: pointer;

  &:hover {
    color: black;
  }
}
