.App {
  text-align: center;

  font-family:  Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  width: 70%;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}