html {
  margin: 0;
  height: 100%;

}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("background.jpg");
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
code {
  font-family:  Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
